		/* uncomment below to see all the borders */
		/* * {
			border: 1px solid red;
		} */

		/* defines background color */
		body {
			background-color: #FBFBF8;
			padding: 0px;
			border: 0px;
		}

		/* defines the font */
		html {
			font-family: 'Gloria Hallelujah', cursive;
		}

		/* defines the font size for computers */
		@media screen and (min-width: 601px) {
			div {
				font-size: 25px;
			}
		}

		/* defines the font size for phones */
		@media screen and (max-width: 600px) {
			div {
				font-size: 13px;
			}

			div.pagecontent-title,
			div.pagecontent-subtitle {
				margin-left: 2%;
				margin-right: 2%;
			}

		}

		/* changes hyperlinks */
		a {
			text-decoration: none;
			font-weight: 500;
		}

		/* underlines hyperlinks */
		a:hover {
			text-decoration: underline;
		}

		/* all text will default to white */
		p,
		h1,
		h2,
		h3 {
			padding: 0;
			margin: 0;
			border: 0;
			color: white;
		}

		/* defines box area for navbar */
		.theonavbar {
			width: 90%;
			display: flex;
			justify-content: end;
		}

		/* defines border for header/navbar */
		header {
			border-bottom: 3px solid #6E6658;
		}

		/* makes sure that navbar does not disappear */
		header::after {
			content: '';
			display: table;
			clear: both;
		}

		nav ul {
			margin: 0;
			padding: 0;
			border: 0;
			list-style: none;
		}

		/* makes navbar list a block */
		nav li {
			display: inline-block;
			margin-left: 10px;
			margin-right: 10px;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		/* sets colors for navbar links and makes them uppercase */
		nav ul li a {
			color: #254E58;
			text-decoration: none;
			text-transform: none;
		}

		/* defines round buttons that are used for contact links */
		/* .linktreebutton {
			display: inline-block;
			padding: 10px 50px;
			font-size: 30px;
			text-align: center;
			text-decoration: none;
			color: #35aeb2;
			background-color: #4b4d51;
			border-radius: 40px;
			outline: none;
			height: 40px;
			width: 200px;
		} */

		/* defines box that is used to store contact images in */
		.contactimage {
			margin-top: 50px;
			margin-left: auto;
			margin-right: auto;
			width: 300px;
		}

		/* makes it so that images will automatically fill the container that they are in i.e. theocontact iamge */
		img {
			max-width: 100%;
			float: center;
		}

		/* defines page content which is used to store ALL div boxes and text after the navbar */
		.pagecontent {
			margin-left: auto;
			margin-right: auto;
			border: 0;
			padding: 0;
			height: auto;
			width: 100%;
		}

		/* theopageintro is used as the intro class for all webpages */
		.pagecontent-title,
		.pagecontent-subtitle {
			display: block;
			margin-left: 15%;
			margin-right: 15%;
			padding-left: 1%
		}

		.pagecontent-title {
			margin-top: 5px;
		}

		.pagecontent-title h1 {
			color: #112D32;
		}

		.pagecontent-title h2 {
			color: #254E58;
		}

		.pagecontent-subtitle {
			margin-top: 5px;
			background-color: #6E6658;
		}

		.pagecontent-subtitle h3 {
			color: #FBFBF8;
		}

		/* The sticky class is added to the header with JS when it reaches its scroll position */
		.sticky {
			position: fixed;
			top: 0;
			width: 100%;
		}

		/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
		.sticky+.pagecontent {
			padding-top: 75px;
		}