/* uncomment below to see all the borders */
/* * {
	border: 1px solid red;
} */

/* defines background color */
body {
	background-color: #FBFBF8;
	padding: 0;
	border: 0;
	margin: 0;
}

/* defines the font and scroll behavior */
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi+Ink&display=swap');
html {
	font-family: 'Reem Kufi Ink', sans-serif;
	scroll-behavior: smooth;
}

/* defines the font size for computers */
@media screen and (min-width: 601px) {
	div {
		font-size: 25px;
	}
}

/* defines the font size for phones */
@media screen and (max-width: 600px) {
	div {
		font-size: 13px;
	}

	div.pagecontent-title,
	div.pagecontent-subtitle {
		margin-left: 2%;
		margin-right: 2%;
	}

}

/* changes hyperlinks */
a {
	text-decoration: none;
	font-weight: 500;
}

/* underlines hyperlinks */
a:hover {
	text-decoration: underline;
}

/* all text will default to white */
p,
h1,
h2,
h3 {
	padding: 0;
	margin: 0;
	border: 0;
}

h1 {
	color: #112D32;
}

h2 {
	color: #254E58;
}

h3 {
	color: #FBFBF8;
}

/* defines box area for navbar at the top*/
.navbar-top {
	width: 90%;
	display: flex;
	justify-content: end;
}

/* defines box area for navbar at the bottom*/
.navbar-bottom {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 5px;
}

/* defines border for header/navbar */
header {
	background-color: #FBFBF8;
	/* border-bottom: 3px solid #6E6658; */
	position: fixed;
	width: 100%;
}

/* makes sure that navbar does not disappear */
header::after {
	content: '';
	display: table;
	clear: both;
}

nav ul {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}

/* makes navbar list a block */
nav li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* sets colors for navbar links and makes them uppercase */
nav ul li a {
	color: #254E58;
	text-decoration: none;
	text-transform: none;
}

/* defines round buttons that are used for contact links */
/* .linktreebutton {
	display: inline-block;
	padding: 10px 50px;
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	color: #35aeb2;
	background-color: #4b4d51;
	border-radius: 40px;
	outline: none;
	height: 40px;
	width: 200px;
} */

/* defines box that is used to store contact images in */
.contactimage {
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}

/* makes it so that images will automatically fill the container that they are in i.e. theocontact iamge */
.contactimage img {
	max-width: 100%;
	float: center;
}

/* theopageintro is used as the intro class for all webpages */
.pagecontent-title,
.pagecontent-subtitle {
	display: block;
	margin-left: 15%;
	margin-right: 15%;
	padding-left: 1%
}

.pagecontent-title {
	margin-top: 5px;
}

.pagecontent-subtitle {
	margin-top: 5px;
	background-color: #6E6658;
}

.my-section-1, .my-section-2 {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	align-content: center;
	margin: 0;
}

.my-section-2 {
	background-color: #6E6658;
}

/* BELOW IS FOR THE FORM */
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #6E6658;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  
  input[type=submit] {
	background-color: #254E58;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: navy;
  }
  
  .formcontainer {
	border-radius: 5px;
	background-color: #FBFBF8;
	padding: 20px;
  }
  /* ABOVE IS FOR THE FORM */
