* {
	/* border: 1px solid red; */
	box-sizing: border-box;
}
/* makes scroll behavior smooth */
html {
	scroll-behavior: smooth;
}

/* ALL HEADER SETTINGS BELOW */
/* defines box area for navbar at the top*/
.navbar-top {
	margin-left: auto;
	padding-left: 5%;
	width: 100%;
	display: flex;
	justify-content: left;
	border-bottom: 1px solid black;
}
/* defines border for header/navbar */
header {
	background-color: #FBFBF8;
	/* border-bottom: 3px solid #6E6658; */
	position: fixed;
	width: 100%;
}

/* makes sure that navbar does not disappear */
header::after {
	content: '';
	display: table;
	clear: both;
}
nav ul {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
}
/* makes navbar list a block */
nav li {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}
/* makes navbar uppercase */
nav ul li a {
	text-decoration: none;
	text-transform: none;
}



/* gets rid of annoying margins */
body {
	padding: 0;
	border: 0;
	margin: 0;
}
/* Create two equal columns that floats next to each other */
.column-left, .column-right, .hidden-column {
	float: left;
	width: 50%;
	padding: 5px;
	height: auto;
	/* Should be removed. Only for demonstration */
}
.column-left {
	text-align: center;
}





/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}


/* defines box that is used to store contact images in */
.contactimage {
	margin-left: auto;
	margin-right: auto;
	width: 150px;
}

/* makes it so that images will automatically fill the container that they are in i.e. theocontact iamge */
.contactimage img {
	max-width: 100%;
	float: center;
}

/* column content is used */
.column-content {
	display: block;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 1%;
	margin-top: 5px;
}
/* defines box area for navbar at the bottom*/
.navbar-bottom {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 5px;
}
pre {
    white-space: pre-wrap;
}







/* javascript button css */

#js-button, #js-button2 {
	width: 125px;
	border: none;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	/* font-size: 16px; */
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 80px;
  }


/* experience/projects button css */
#myDIV button {
	width: 100%;
	border: none;
	padding-left: 20px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	/* font-size: 16px; */
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 80px;
}
#myDIV2 button {
	width: 100%;
	border: none;
	padding-left: 20px;
	text-align: left;
	text-decoration: none;
	display: inline-block;
	/* font-size: 16px; */
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 80px;
}








/* BELOW IS FOR THE FORM */
input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #6E6658;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  
  input[type=submit] {
	background-color: #254E58;
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  input[type=submit]:hover {
	background-color: navy;
  }
  
  .formcontainer {
	border-radius: 5px;
	background-color: #FBFBF8;
	padding: 20px;
  }
  /* ABOVE IS FOR THE FORM */







  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.column-left, .column-right{
		width: 100%;
	}
	.hidden-column, .hidden-space {
		display: hidden
	}
}

@media screen and (min-width: 601px) {
	div.column-left {
		position: fixed;
		top: 0;
	}
}


#myDIV2, #column-right-blog {
	display:none;
}
